body {
	background: #141414;
	color: #ffffff;
}

.movie-app > .row {
    display: flex;
	overflow-x: auto;
	flex-wrap: nowrap;
}
.image-container {
	position: relative;
	display: flex;
	justify-content: center;
	
	transition: transform 0.2s;
	margin: 10px;

}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}
.mr-2{
	margin-top: 2px;
	padding-right: 3px;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.fit{
	display: flex;
	align-items: center;
	margin-top: 4px;
	margin-bottom: 4px;
	
}
.form-control{
	color: rgba(16, 1, 1, 0.852);
	/* font-weight: 500; */
	font-size: medium;
}
